menuconfig BSP_USING_UART
    bool "Using UART device"
    default y
    select RESOURCES_SERIAL
    if BSP_USING_UART
        source "$BSP_DIR/third_party_driver/uart/Kconfig"
    endif
    
menuconfig BSP_USING_ETH
    bool "Using Ethernet"
    default y

menuconfig BSP_USING_ADC
    bool "Using ADC"
    default y

menuconfig BSP_USING_BLE
    bool "Using BLE"
    default y
	if BSP_USING_BLE
		config BSP_BLE_CONFIG
			bool "Using BLE config"
    		default y
			help
				Enable this option to use BLE (Bluetooth Low Energy) to configure settings.
				note: prerequisite: [KConfig - ch32v208rbt6 feature] must enable BLE, ETH, LTE, and RS485 modules.
			if BSP_BLE_CONFIG
				config DEV_BLE_NAME
					string "device ble name"
					default "ch32v208rbt6"
				config DEV_INFO_SYSTEM_ID_0
    				int "Device Info System ID Element 0"
    				default 0
				config DEV_INFO_SYSTEM_ID_1
					int "Device Info System ID Element 1"
					default 0
				config DEV_INFO_SYSTEM_ID_2
					int "Device Info System ID Element 2"
					default 0
				config DEV_INFO_SYSTEM_ID_3
					int "Device Info System ID Element 3"
					default 0
				config DEV_INFO_SYSTEM_ID_4
					int "Device Info System ID Element 4"
					default 0
				config DEV_INFO_SYSTEM_ID_5
					int "Device Info System ID Element 5"
					default 1
				config DEV_INFO_SYSTEM_ID_6
					int "Device Info System ID Element 6"
					default 127
				config DEV_INFO_SYSTEM_ID_7
					int "Device Info System ID Element 7"
					default 1
				config DEV_INFO_MODEL_NUMBER
					string "dev info model number"
					default "Model Number"
				config DEV_INFO_SERIAL_NUMBER
					string "dev info serial number"
					default "Serial Number"
				config DEV_INFO_FIRMWARE_REV
					string "dev info firmware revision"
					default "Firmware Revision"
				config DEV_INFO_HARDWARE_REV
					string "dev info hardware revision"
					default "Hardware Revision"
				config DEV_INFO_SOFTWARE_REV
					string "dev info software revision"
					default "Software Revision"
				config DEV_INFO_MANUFACTURER_NAME
					string "dev info manufacturer name"
					default "Manufacturer Name"
			endif
	endif

menuconfig BSP_USING_CAN
    bool "Using CAN device"
    default y
    select RESOURCES_CAN
    if BSP_USING_CAN
        source "$BSP_DIR/third_party_driver/can/Kconfig"
    endif
    
menuconfig BSP_USING_RS485
	bool "Using RS485"
	default y
	if BSP_USING_RS485
        config RS485_BUS_NAME
            string "rs485 bus name"
            default "rs485"
        config RS485_DRV_NAME
            string "rs485 bus driver name"
            default "rs485_drv"
        config RS485_DEVICE_NAME_1
            string "rs485 bus device 1 name"
            default "rs485_dev1"
	endif

menuconfig BSP_USING_LTE
	bool "Using LTE"
	default y
   	if BSP_USING_LTE
    	config LTE_BUS_NAME
            string "lte bus name"
            default "lte"
        config LTE_DRV_NAME
            string "lte bus driver name"
            default "lte_drv"
        config LTE_DEVICE_NAME_1
            string "lte bus device 1 name"
            default "lte_dev1"
        config LTE_TEST
            bool "Enable lte test"
            default n
    endif	
	