menuconfig BSP_USING_YMODEM
    bool "Enable ymodem"
    default y
    if BSP_USING_YMODEM
        config YMODEM_BUS_NAME
            string "serial bus 1 name"
            default "uart1"
        config YMODEM_DRV_NAME
            string "serial bus 1 driver name"
            default "uart1_drv"
        config YMODEM_DEVICE_NAME
                string "serial bus 1 device name"
                default "uart1_dev1"   
    endif


