menuconfig BSP_USING_SPI1
    bool "Enable SPI1"
    default y

if BSP_USING_SPI1
    config SPI1_BUS_NAME
        string "spi1 bus name"
        default "spi1"
    config SPI1_DRV_NAME
        string "spi 1 bus driver name"
        default "spi1_drv"
    config SPI1_DEVICE_NAME
        string "spi1 bus device name"
        default "spi1_dev"   
endif

