menuconfig BSP_USING_UART1
    bool "Enable UART1"
    default n
    if BSP_USING_UART1
        config SERIAL_BUS_NAME_1
            string "serial bus  name"
            default "uart1"
        config SERIAL_DRV_NAME_1
            string "serial bus  driver name"
            default "uart1_drv"
        config SERIAL_1_DEVICE_NAME_0
                string "serial bus  device name"
                default "uart1_dev1"   
    endif

menuconfig BSP_USING_UART2
    bool "Enable UART2"
    default n
    if BSP_USING_UART2
        config SERIAL_BUS_NAME_2
            string "serial bus  name"
            default "uart2"
        config SERIAL_DRV_NAME_2
            string "serial bus  driver name"
            default "uart2_drv"
        config SERIAL_2_DEVICE_NAME_0
                string "serial bus  device name"
                default "uart2_dev2"   
    endif

menuconfig BSP_USING_UART4
    bool "Enable UART4"
    default y
    if BSP_USING_UART4
        config SERIAL_BUS_NAME_4
            string "serial bus  name"
            default "uart4"
        config SERIAL_DRV_NAME_4
            string "serial bus  driver name"
            default "uart4_drv"
        config SERIAL_4_DEVICE_NAME_0
                string "serial bus  device name"
                default "uart4_dev4"   
    endif

menuconfig BSP_USING_UART5
    bool "Enable UART5"
    default y
    if BSP_USING_UART5
        config SERIAL_BUS_NAME_5
            string "serial bus name"
            default "uart5"
        config SERIAL_DRV_NAME_5
            string "serial bus  driver name"
            default "uart5_drv"
        config SERIAL_5_DEVICE_NAME_0
                string "serial bus  device name"
                default "uart5_dev5"   
    endif
