choice
    prompt "choose rtos for lora radio driver"
    default LORA_RADIO_DRIVER_USING_RTOS_XIUOS

    config LORA_RADIO_DRIVER_USING_RTOS_RT_THREAD
        bool "rtos select RT-Thread"

    config LORA_RADIO_DRIVER_USING_RTOS_XIUOS
        bool "rtos select XiUOS"
endchoice

config LORA_RADIO_DRIVER_USING_LORA_RADIO_DEBUG
    bool "lora radio driver debug printf"
    default y

if LORA_RADIO_DRIVER_USING_RTOS_XIUOS
    source "$APP_DIR/lib/lorawan/lora_radio_driver/ports/lora-module/hc32_adapter/Kconfig"
endif
