menu "test app"
    menuconfig USER_TEST
        bool "Enable application test function "
        default n

        if USER_TEST
            menuconfig USER_TEST_ADC
                bool "Config test adc"
                default n
                if USER_TEST_ADC
                    if ADD_XIZI_FETURES
                        config ADC_DEV_DRIVER
                            string "Set ADC dev path"
                            default "/dev/adc1_dev"
                    endif
                endif

            menuconfig USER_TEST_DAC
                bool "Config test dac"
                default n
                if USER_TEST_DAC
                    if ADD_XIZI_FETURES
                        config DAC_DEV_DRIVER
                            string "Set DAC dev path"
                            default "/dev/dac_dev"
                    endif
                endif

            menuconfig USER_TEST_FS
                bool "Config test fs with sd or usb"
                default n
                if USER_TEST_FS
                    if ADD_XIZI_FETURES
                        config SD_FPATH
                            string "Set test file path"
                            default "/test_file"
                    endif
                endif


            menuconfig USER_TEST_GPIO
                select BSP_USING_GPIO
                select RESOURCES_PIN
                select BSP_USING_LED
                select BSP_USING_KEY
                bool "Config test gpio with led and key"
                default n
                if USER_TEST_GPIO
                    if ADD_XIZI_FETURES
                        config GPIO_DEV_DRIVER
                            string "Set gpio dev path"
                            default "/dev/pin_dev"
                    endif
                endif

            menuconfig USER_TEST_I2C
                select BSP_USING_I2C
                bool "Config test i2c"
                default n
                if USER_TEST_I2C
                    if ADD_XIZI_FETURES
                        config I2C_DEV_DRIVER
                            string "Set i2c dev path"
                            default "/dev/i2c_dev"
                    endif
                endif

            config USER_TEST_SEMC
                bool "Config test semc sdram"
                default n

            config USER_TEST_LCD
                bool "Config test lcd device"
                default n

                
        endif
endmenu
