menu "lib using MQTT"

    menuconfig TOOL_USING_MQTT
        bool "Enable support MQTT function"
        default n
        select SUPPORT_CONNECTION_FRAMEWORK
        select CONNECTION_ADAPTER_4G
        
    if TOOL_USING_MQTT
        menu "MQTT connection parameter configuration."
            config PLATFORM_PRODUCTKEY
                string "Product Key, used to identify a product."
                default "iywhcgnuezz"

            config CLIENT_DEVICENAME
                string "Device name, used to identify a client device."
                default "D001"

            config CLIENT_DEVICESECRET
                string "Device secret, used for device authentication and data encryption."
                default "c9a4ce03e9382065fc089e9ff54b771d"
        
            config PLATFORM_SERVERIP
                string "mqtt platform server ip."
                default "101.133.196.127"

            config PLATFORM_SERVERPORT
                string "mqtt platform server port."
                default "1883"
        endmenu
    endif

endmenu
