menuconfig BSP_USING_UART5
    bool "Enable UART5"
    default n
    if BSP_USING_UART5
        config SERIAL_BUS_NAME_5
            string "serial bus 5 name"
            default "uart5"
        config SERIAL_DRV_NAME_5
            string "serial bus 5 driver name"
            default "uart5_drv"
        config SERIAL_5_DEVICE_NAME_0
                string "serial bus 5 device 0 name"
                default "uart5_dev5"   
    endif

