menuconfig BSP_USING_LPUART
    bool "Using UART device"
    default y
    select RESOURCES_SERIAL
    if BSP_USING_LPUART
        source "$BSP_DIR/third_party_driver/uart/Kconfig"
    endif

menuconfig BSP_USING_LWIP
    bool "Using LwIP device"
    default n
    select RESOURCES_LWIP

menuconfig BSP_USING_SEMC
    bool "Using SEMC device"
    default n
    if BSP_USING_SEMC
        source "$BSP_DIR/third_party_driver/semc/Kconfig"
    endif

menuconfig BSP_USING_SDIO
    bool "Using SD card device"
    default n
    select RESOURCES_SDIO
    if BSP_USING_SDIO
        source "$BSP_DIR/third_party_driver/sdio/Kconfig"
    endif
