config FACE_DETECT
    bool "enable apps/face detect"
    depends on BOARD_K210_EVB
	depends on DRV_USING_OV2640
	depends on USING_KPU_PROCESSING
	depends on USING_YOLOV2
	depends on USING_YOLOV2_JSONPARSER
    select LIB_USING_CJSON
    default n
