menuconfig BSP_USING_UART1
    bool "Enable UART1"
    default y

if BSP_USING_UART1
    config SERIAL1_BUS_NAME
        string "serial1 bus name"
        default "uart1"
    config SERIAL1_DRV_NAME
        string "serial 1 bus driver name"
        default "uart1_drv"
    config SERIAL1_DEVICE_NAME
        string "serial 1 bus device name"
        default "uart1_dev"   
endif

