menuconfig USE_MONGOOSE
    bool "Use mongoose as webserver"
    default n
    select BSP_USING_SDIO
    select BSP_USING_W5500
    select BSP_USING_ETHERNET
    select SUPPORT_CONNECTION_FRAMEWORK
    select CONNECTION_ADAPTER_4G
    select ADAPTER_EC200A
    select LIB_USING_LORAWAN
    select LIB_USING_LORA_RADIO
