menuconfig BSP_USING_UART
    bool "Using UART device"
    default y
    select RESOURCES_SERIAL
    if BSP_USING_UART
        source "$BSP_DIR/third_party_driver/uart/Kconfig"
    endif

menuconfig BSP_USING_SPI
    bool "Using SPI device"
    default y
    if BSP_USING_SPI
        source "$BSP_DIR/third_party_driver/spi/Kconfig"
    endif

menuconfig BSP_USING_SERDES
    bool "Using serdes device"
    default y
    if BSP_USING_SERDES
        source "$BSP_DIR/third_party_driver/serdes/Kconfig"
    endif

menuconfig BSP_USING_USB
    bool "Using usb device"
    default y
    if BSP_USING_USB
        source "$BSP_DIR/third_party_driver/usb/Kconfig"
    endif

menuconfig BSP_USING_WDT
    bool "Using watchdog timer device"
    default n
