menuconfig BSP_USING_UART1
    bool "Enable USART1 for Console"
    default y
    if BSP_USING_UART1
        config SERIAL_BUS_NAME_1
            string "serial bus 1 name"
            default "usart1"
        config SERIAL_DRV_NAME_1
            string "serial bus 1 driver name"
            default "usart1_drv"
        config SERIAL_1_DEVICE_NAME_0
            string "serial bus 1 device 0 name"
            default "usart1_dev1"
    endif

menuconfig BSP_USING_UART2
    bool "Enable USART2 for RS485/RS322"
    default y
    if BSP_USING_UART2
        config SERIAL_BUS_NAME_2
            string "serial bus 2 name"
            default "usart2"
        config SERIAL_DRV_NAME_2
            string "serial bus 2 driver name"
            default "usart2_drv"
        config SERIAL_2_DEVICE_NAME_0
            string "serial bus 2 device 0 name"
            default "usart2_dev2"
    endif

menuconfig BSP_USING_CONSOLE
    bool "Enable Console"
    default y
    select BSP_USING_UART1
    select KERNEL_CONSOLE
    if BSP_USING_CONSOLE
        config KERNEL_CONSOLE_BUS_NAME
            string "Console bus name"
            default "usart1"
        config KERNEL_CONSOLE_DRV_NAME
            string "Console bus driver name"
            default "usart1_drv"
        config KERNEL_CONSOLE_DEVICE_NAME
            string "Console bus device name"
            default "usart1_dev1"
    endif

config BSP_USING_RS485
    bool "Enable RS485"
    default y
    select BSP_USING_UART2

config BSP_USING_RS232
    bool "Enable RS232"
    default y
    select BSP_USING_UART2
