menu "common config"
source "$BSP_DIR/third_party_driver/common/Kconfig"
endmenu

menuconfig BSP_USING_UART
    bool "Using UART device"
    default y
    select RESOURCES_SERIAL
    if BSP_USING_UART
        source "$BSP_DIR/third_party_driver/uart/Kconfig"
    endif

menuconfig BSP_USING_ETH
    bool "Using ethernet device"
    default y
    if BSP_USING_ETH
        source "$BSP_DIR/third_party_driver/ethernet/Kconfig"
    endif
