choice
    prompt "Config the value of high speed external crystal (hext)"
    default HEXT_VALUE_24MHZ

    config HEXT_VALUE_8MHZ
        bool "8MHZ"

    config HEXT_VALUE_24MHZ
        bool "24MHZ"
endchoice
