menuconfig SUPPORT_KNOWING_FRAMEWORK
        bool "support knowing framework"
        default y

if SUPPORT_KNOWING_FRAMEWORK
        source "$APP_DIR/Framework/knowing/tensorflow-lite/Kconfig"        
endif
