config LORA_SPI_DEV_NAME
        string "lora device pin driver path"
        default "/dev/spi1_dev0"

config LORA_RADIO_RESET_PIN
        int "hc32 board lora chip reset pin[PI02]"
        default "133"

config LORA_RADIO_DRIVER_USING_LORA_CHIP_SX127X
        bool "hc32 board using lora chip sx127x"
        default y

if LORA_RADIO_DRIVER_USING_LORA_CHIP_SX127X
        config LORA_RADIO_DRIVER_USING_LORA_CHIP_SX1278
                bool "hc32 board using lora chip sx1278"
                default y
endif
        