menuconfig BSP_USING_CAN1
    bool "Enable CAN1"
    default y

if BSP_USING_CAN1
    config CAN1_BUS_NAME
        string "can1 bus name"
        default "can1"
    config CAN1_DRV_NAME
        string "can1 bus driver name"
        default "can1_drv"
    config CAN1_DEVICE_NAME
        string "can1 bus device name"
        default "can1_dev"   
endif

menuconfig BSP_USING_CAN2
    bool "Enable CAN2"
    default y

if BSP_USING_CAN2
    config CAN2_BUS_NAME
        string "can2 bus name"
        default "can2"
    config CAN2_DRV_NAME
        string "can2 bus driver name"
        default "can2_drv"
    config CAN2_DEVICE_NAME
        string "can2 bus device name"
        default "can2_dev"   
endif

menuconfig BSP_USING_CAN3
    bool "Enable CAN3"
    default y

if BSP_USING_CAN3
    config CAN3_BUS_NAME
        string "can3 bus name"
        default "can3"
    config CAN3_DRV_NAME
        string "can3 bus driver name"
        default "can3_drv"
    config CAN3_DEVICE_NAME
        string "can3 bus device name"
        default "can3_dev"   
endif


