#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_EDU_RISCV64

menuconfig BSP_USING_CH376
    bool "Using CH376 device"
    default n
    select K210_UART
    select K210_UART3
    
if BSP_USING_CH376

choice
	prompt "select ch376 function."
	default CH376_USB_FUNCTION

config CH376_USB_FUNCTION
	bool "select ch376 usb function"

config CH376_SD_FUNCTION
	bool "select ch376 sd function"
endchoice

config CH376_WORK_MODE
	hex "ch376 work mode set:0x03 sd,0x06 u-disk"
	default 0x03 if CH376_SD_FUNCTION
	default 0x06 if CH376_USB_FUNCTION

endif # BSP_USING_CH376

menuconfig BSP_USING_ENET
    bool "Using ENET device"
    default n

endif # ARCH_BOARD_EDU_RISCV64
